.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10vw;
  padding: 5px;
  color: #66fcf1ed;
  border-radius: 5px;
  border-color: #66fcf145;
  border-width: 2px;
  border-style: solid;
  &__input {
    width: 100%;
    background: transparent;
    color: #66fcf1ed;
    padding-left: 5px;
    border: none;
    outline: none;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}
